@page
@model IndexModel
@{
    ViewData["Title"] = "Kitap Listesi";
}

<div class="container">
    <div class="createNav">
        <a asp-page="/Create"><i class="bi bi-plus-circle"></i></a>
    </div>
    <div class="row card-container">
        @foreach(var book in Model.Books)
        {
            <div class="col-md-4 mb-3">
                <div class="card text-dark">
                    <div class="card-header">
                        <div class="header-content">
                            <h1>@book.Name</h1> 
                            <div class="icon-group">
                                <i class="bi bi-trash3"></i>
                                <i class="bi bi-pencil"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                        <div class="writer-container">
                            <h2>Yazar: @book.WritersName</h2>
                        </div>
                        <div class="category-container">
                            @foreach (var category in book.BookCategories)
                            {
                                <p>@category.Category?.Name</p>
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        @if (book.Review != null)
                        {
                            <h2 class="card-title">@book.Review?.Title</h2>
                            <h3 class="card-text">@book.Review?.Text</h3>
                        }
                        else
                        {
                            <h2 class="card-title">"Bir İnceleme Henüz Eklenmedi"</h2>
                        }
                        <p>Kitap Durumu: @book.Status.Name</p>

                            @if (book.ReadingTracking != null)
                            {
                                <p>Kitap Okuma Tarihi: @book.ReadingTracking.StartDate -> @book.ReadingTracking.EndDate</p>
                            }
                            else
                            {
                                <p>Kitap Okuma Tarihi Henüz Belirlenmedi</p>
                            } 
                                
                        </div>
                </div>
            </div>
        }
    </div>
</div>
