@page
@model IndexModel
@{
    ViewData["Title"] = "Kitap Listesi";
    string liked ="";
}

<div class="container">
    <div class="createNav">
        <a asp-page="/Create"><i class="bi bi-plus-circle"></i></a>
    </div>
    <div class="row card-container">
        @foreach(var book in Model.Books)
        {
            <div class="col-md-4 mb-3">
                <div class="card text-dark">
                    <div class="card-header">
                        <div class="header-content">
                   <input hidden asp-for="@book.Book.Id">
                            <h1>@book.Book.Name</h1> 
                            <div class="icon-group">
                            <a onclick="Delete('/delete/@book.Book.Id')">
                            <i class="bi bi-trash3"></i>
                            </a>
                                <a asp-page="/Update" asp-route-id="@book.Book.Id"><i class="bi bi-pencil"></i></a>
                                @{
                                    liked = book.Review?.Liked == true ? "bi bi-star-fill" : "bi bi-star";
                                }
                                <i class="@liked"></i>
                            </div>
                        </div>
                        <div class="writer-container">
                            <h2>Yazar: @book.Book.WritersName</h2>
                        </div>
                        <div class="category-container">
                            @foreach (var category in book.BookCategories)
                            {
                                <p>@category.Name</p>
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        @if (book.Review != null)
                        {
                            <h2 class="card-title">@book.Review?.Title</h2>
                            <h3 class="card-text">@book.Review?.Text</h3>
                        }
                        else
                        {
                            <h2 class="card-title">"Bir İnceleme Henüz Eklenmedi"</h2>
                        }
                        <p>Kitap Durumu: @book.Status.Name</p>
                                <p>Kitap Okuma Tarihi 
                                    @if (book?.ReadingTracking != null)
                                    {
                                            <text>
                                                @book.ReadingTracking.StartDate.Value.ToString("dd-MM-yyyy") - @book.ReadingTracking.EndDate.Value.ToString("dd-MM-yyyy")
                                            </text>
                                    }
                                    else
                                    {
                                        <text>Tarihleri Henüz Belirlenmedi</text>
                                    }
                                      </p>
                                
                        </div>
                </div>
            </div>                                
            }
    </div>
</div>